.Education_Container {
  position: relative;
  left: 30px;
  top: 90px;
  width: 90%;
  height: 920px;
}

@media screen and (max-width: 768px) {
  .Education_Container {
    position: relative;
    left: 30px;
    top: 90px;
    width: 90%;
    height: 1100px;

  }
}
